@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.body{
    font-family: 'Roboto' , sans-serif;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background: #F2CEDA;
}
.nav_box{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.nav_link{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-left: 266px;
    margin-right: 172px;
}
.nav_link_text{
    text-decoration: none;
    color: #150101;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    transition: 0.5s;
}
.nav_link_text:hover{
    color: #D23166;
}
.nav_btn{
    color: #fff;
    width: 165px;
    height: 49px;
    font-family: "Hind Madurai";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    background-color: #D23166;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
}   

.intro_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_auxiliary{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 10%;
    margin-bottom: 6px;
}

.intro_title{
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 121%;
}
}
.icecream_div{
display: flex;    
}
.sarlavha{
color: #150101; 
width: 349px;   
font-family: "Hind Madurai";
font-weight: 600;
font-size: 44.2px;
}
.matn{
color: #150101;
font-family: "Roboto";
font-weight: 400;
font-size: 16px;
line-height: 24px;
}  
.btn{
background-color: #D64374;   
width: 165px;
height: 49.13494873046875px;
border-radius: 5px;
} 
