* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.body{
    font-family: 'Roboto' , sans-serif;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background: #F2CEDA;
}   

.intro_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_auxiliary{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 10%;
    margin-bottom: 6px;
}

.intro_title{
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 121%;
}